:root {
    --red: #E50914;
    --black:#141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* base */

body {
    background: var(--black);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:start;
}

header .logo{
    color:var(--red);
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    margin-right: 50px;
    margin-left: 15px;
}

header nav a {
    text-decoration: none;
    color: #E9E9E9;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

header nav a:hover {
    color: #fff;
}

/* main game */

.main-game {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50) 100%), url('/img/eldenring-cover.jpg');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.container {
    margin-left: 5%;
}

.main-game .container {
    width: 70%;
}

.main-game .description{
    margin-top: 5px;
    margin-right: 10%;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    margin-top: 10%;
    font-size: 55px;
    font-family:'Times New Roman', Times, serif;
}

.button {
    background-color: white;
    border: none;

    padding: 10px 20px;
    margin-right: 15px;
    font-size: 14px;
    font-weight:bold;
    border-radius: 5px;

    cursor: pointer;
    transition: .3s;
}

.button:hover{
    background-color: #DCDCDC;
}


#info {
    background-color: rgba(184,183,183,.50);
    color: white;
}

#info:hover {
    background-color: rgba(184,183,183,.20);
}

.button i {
    margin-right: 8px;
}

.game-box {
    height: 100%;
    width: 100%;
    display: block;
    margin-left: -70px;
}

.games-carousel {
    margin-top: 50px;

}

.carousel-title {
    margin-left: 5%;
    margin-bottom: 1%;
    margin-top: 30px;
    font-size: 18px;
}


.item {
    font-size: 150px;
    color: black;
    text-shadow: 4px 0 0 rgb(182, 182, 182), -4px 0 0 rgb(182, 182, 182), 0 4px 0 rgb(182, 182, 182), 0 -4px 0 rgb(182, 182, 182), 2px 2px rgb(182, 182, 182), -2px -2px 0 rgb(182, 182, 182), 2px -2px 0 rgb(182, 182, 182), -2px 2px 0 rgb(182, 182, 182);
}

#ten {
    height: 100%;
    width: 100%;
    display: block;
    margin-left: 100px;
}

