@media screen and (max-width:700px) {
    header .container {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .container {
        padding-top: 10%;
        padding-bottom: 20%;
    }

    .button {
        margin-top: 5px;
        width: 180px;
        height: 50px;
    }
}

@media screen and (min-width:1000px) {
    header .container {
        padding-bottom: 10px;
    }
    
    .description {
        width: 50%;
    }

    .container{
        height: 100%;
        padding-bottom: 50px;
    }
}